<header></header>
<navbar></navbar>
<submenu></submenu>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Tanggal</label>
                        <input type="text" name="tanggal" class="input-control" ng-model="tanggal" ng-change="get(tanggal)" data-date-format="dd MMMM yyyy" bs-datepicker />
                    </div>
                </div>
            </div>
            <div class="well">
                <h4>Laporan Harian Harga Produsen Komoditas Peternakan</h4>
            </div>
            <div class="panel panel-default" ng-show="prnodata">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="ion ion-clipboard ion-w"></span> Laporan Harian Harga Produsen</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">Tidak ada data</li>
                </ul>
            </div>
            <div class="panel panel-default" ng-show="prdatas.length>0">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="ion ion-clipboard ion-w"></span> Laporan Harian Harga Produsen</h3>
                    <input type="text" placeholder="Cari Kabupaten / Kota" class="input-control pull-right" ng-class="{'animate fadeInRight speed-200':showsearch,'animate fadeOutRight speed-200':!showsearch}" ng-model="search.kabkota" ng-show="showsearch" />
                    <a href="" class="search pull-right" ng-click="showsearch=!showsearch" title="Cari"><span class="ion ion-ios-search-strong ion-w"></span></a>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered" ng-show="prdatas.length>0">
                        <thead>
                            <tr>
                                <th class="text-center">No</th>
                                <th class="text-center">Kabupaten / Kota</th>
                                <th class="text-center">Sapi</th>
                                <th class="text-center">Kerbau</th>
                                <th class="text-center">Kambing</th>
                                <th class="text-center">Domba</th>
                                <th class="text-center">Ayam Broiler</th>
                                <th class="text-center">Ayam Buras</th>
                                <th class="text-center">Itik</th>
                                <th class="text-center">Telur Ayam Ras</th>
                                <th class="text-center">Telur Ayam Buras</th>
                                <th class="text-center">Telur Itik</th>
                                <th class="text-center">Susu Sapi Segar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in prdatas | orderBy:'kabkota' | filter:search">
                                <td class="text-center ">{{$index+1}}</td>
                                <td>{{data.kabkota}}</td>
                                <td class="text-right ">{{data.sapi|number:0}}</td>
                                <td class="text-right ">{{data.kerbau|number:0}}</td>
                                <td class="text-right ">{{data.kambing|number:0}}</td>
                                <td class="text-right ">{{data.domba|number:0}}</td>
                                <td class="text-right ">{{data.ayambroiler|number:0}}</td>
                                <td class="text-right ">{{data.ayamburas|number:0}}</td>
                                <td class="text-right ">{{data.itik|number:0}}</td>
                                <td class="text-right ">{{data.telurayamras|number:0}}</td>
                                <td class="text-right ">{{data.telurayamburas|number:0}}</td>
                                <td class="text-right ">{{data.teluritik|number:0}}</td>
                                <td class="text-right ">{{data.susu|number:0}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer></footer>